<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CandyJs</title>
</head>
<body>
    <form id="myform" method="post" action="/postdata">
        <fieldset>
            <legend>information</legend>
            <p>name: <input type="text" name="user_name"/></p>
            <p>height: <input type="text" name="height"/></p>
            <p>weight: <input type="text" name="weight"/></p>
            <p>
                gender: <input type="radio" name="gender" value="male"/> Male
                <input type="radio" name="gender" value="female"/> Female
            </p>
        </fieldset>
        <button type="submit">submit</button>
    </form>
</body>
</html>
